.product-card {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease;
  overflow: hidden;
  background: #fff;
  height: 650px;
  margin: 0px 13px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-img {
  margin-top: 4px;
  width: 80%;
  height: 280px;
  object-fit: contain;
}

.card-title {
  font-size: 8px;
  color: #333;
  line-height: 0.9;
}

.fs-2 {
  color: #1e3357;
  font-size: 12px;
}

.btn-warning {
  font-weight: bold;
}

.btn-warning:hover {
  background: #e6b800;
}